<style>
	.padbot{ padding-bottom: 0.15em; }
	.rghttxt{ text-align: right; }

</style>
 
<div class="second rghttxt">
   <span style="font-weight: bold">{{fechas}}</span>
</div>
<div style="font-family: Arial; width: 100%; text-align:center">
    <h1>ÓRDEN DE TRABAJO {{presupuesto.tipo}} NO. {{presupuesto.idpresupuesto}}</h1>
</div>