<style>
    .tituloXL{
        font-size: 1.25em;
        font-weight: bold;
    }
    .tituloL{
        font-size: 1.17em;
        font-weight: bold;
    }
    .tituloM{
        font-size: 1.08em;
        font-weight: bold;
    }
</style>
<div style="text-align: center">
    <span class="tituloXL">GRUPO CORPORATIVO FINANCIERO, S.A.</span>
    <br/>
    <span class="tituloL">Balance General</span>
    <br/>
    <span class="tituloM">
        Al {{#formatDate al}}{{/formatDate}}
    </span>
</div>