<style>
    .first { width: 63%; float:left; }
    .second { overflow: hidden; }
    .rghttxt{ text-align: right; }
    .tbl{width: 79em; border-collapse: collapse;}
    .txtlft{ text-align: left; }
    .brdbot{ border-bottom: solid 0.1em black; }
    /*.brd{ border: solid 0.1em #DCDCDC; }*/
    .brd{ border: 0; }
    .txtmid{ text-align: center; }
</style>

<div style="font-family:Arial; font-size: 12pt">
    <div style="text-align:center; vertical-align: text-top">
        <div class="first rghttxt">
            <span style="font-weight: bold">PROYECCI&Oacute;N DE FACTURACI&Oacute;N DE AGUA</span>
        </div>
        <div class="second rghttxt">
            <span style="font-weight: bold">{{fecha}}</span>
        </div>
    </div>
</div>

<div style="width: 100%; padding-bottom: 0.10em; text-align: center">
    <span style="font-weight: bold; font-family: Arial; font-size: 12pt;">
        {{empresa}} AL {{rango.al}}
    </span>
</div>