<style>
    .pie{
        text-align: right;
        font-weight: bold;
    }
</style>
<div class="pie">
    <span>Fecha: {{fecha}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&aacute;gina {#pageNum} de {#numPages}
</div>