<style>
    .encabezado{
        border-top: 0.1em solid black;
        border-bottom: 0.1em solid black;
    }
    .tituloXL{
        font-size: 1.25em;
        font-weight: bold;
    }
    .tituloL{
        font-size: 1.17em;
        font-weight: bold;
    }
    .tituloM{
        font-size: 1.08em;
        font-weight: bold;
    }
</style>
<div style="text-align: center">
    <span class="tituloXL">GCF LEASING, S.A.</span>
    <br/>
    <span class="tituloL">INTEGRACI&Oacute;N DE CLIENTES</span>
    <br/>
    <span class="tituloM">
        Del {{#fDate del}}{{/fDate}} al {{#fDate al}}{{/fDate}}
    </span>
</div>