<style>
    .pie{
        font-family: Arial;
        text-align: right;
        font-weight: bold;
        border-top: double 0.25em black;
        border-bottom: solid 0.1em black;
    }
</style>
<div class="pie">
    {{generales.hoy}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&aacute;gina: {#pageNum}/{#numPages}
</div>