<style>
    .tbl{ width: 100%; }
    .centxt{ text-align: center; }
    .bld{ font-weight: bold; }
    .tipo{ font-family: Arial; }
    .table{ width: 100%; border-collapse: collapse; font-family: Arial; font-size: 11pt; }
    .ltxt{ text-align: left; }
    .num{ text-align: right; }
    .brd{ border-top: solid 0.12em black; border-bottom: solid 0.12em black; }
    .pdlft{ padding-left: 0.65em; }
</style>
<div class="tbl centxt tipo" style="padding-bottom: 0.5em">
    <span class="bld">RECIBOS DE CLIENTES</span><br/>
    <span class="bld">Del&nbsp;{{generales.del}}&nbsp;al&nbsp;{{generales.al}}</span>
</div>
<table class="table">
    <tr>
        <th class="ltxt brd" style="width:7%">Fecha</th>
        <th class="ltxt brd" style="width:7%">N&uacute;mero</th>
        <th class="ltxt brd" style="width:26%">Cliente</th>
        <th class="ltxt brd" style="width:26%">Facturas</th>
        <th class="num brd" style="width:10%">Total</th>
        <th class="ltxt brd pdlft" style="width:7%">Banco</th>
        <th class="ltxt brd" style="width:7%">Transacci&oacute;n</th>
        <th class="num brd" style="width:10%">Monto</th>
    </tr>
</table>