<style>
    .tbl{
        width: 110em;
        font-size:0.83em;
        border-bottom: solid 0.1em black;
    }
    .ths{
        width: 10em;
        text-align:left;
        /*border: solid 0.1em black;*/
    }
    .num{
        text-align:right;
    }
	.padbot{ padding-bottom: 0.15em; }
	.rghttxt{ text-align: right; }

</style>
 
<div class="second rghttxt">
   <span style="font-weight: bold">{{fechas}}</span>
</div>
<div style="text-align: center; font-family:Arial">
    <h3>LISTA DE ACTIVOS</h3>
    <table class="tbl">
        <thead>
            <th class="ths">Tipo</th>
            <th class="ths">Finca-Folio-Libro</th>
            <th class="ths" style="width:38em">Direcci&oacute;n</th>
            <th class="ths num" style="width:7em">Base IUSI (Q)</th>
            <th class="ths" style="width: 8em; text-align:center">Multi-proyectos</th>
            <th class="ths num" style="width:7em">Valor (Q)</th>
            <th class="ths num" style="width:7em">M<sup>2</sup></th>
            <th class="ths num" style="width:7em">Val/M<sup>2</sup></th>
            <th class="ths" style="text-align:center">Horizontal</th>
        </thead>
    </table>
</div>