<style>
    .cntrtxt{ text-align: center; }
    .bold{ font-weight: bold; }
    .tipo{ font-family: Arial; }
    .tbl{ width: 100%; border-collapse: collapse}
    .ctxt{ text-align: center; }
    .ltxt{ text-align: left; }
    .pad{ padding-top: 0.25em; padding-bottom: 0.25em; }    
    .brd{ border-bottom: solid 0.2em black; }
</style>
<div class="tipo cntrtxt">
    <span class="bold">AGENTES RETENEDORES DE I.S.R./I.V.A.</span>
</div>
<table class="tipo tbl">
    <tbody>
        <tr>
            <th class="ltxt pad brd" style="width: 35%">Cliente</th>
            <th class="ltxt pad brd" style="width: 35%">Facturar a</th>
            <th class="ltxt pad brd" style="width: 10%">N.I.T.</th>
            <th class="ctxt pad brd" style="width: 10%">Retiene I.S.R.</th>
            <th class="ctxt pad brd" style="width: 10%">Retiene I.V.A.</th>
        </tr>
    </tbody>
</table>