<style>
    .firsta { width: 60%; float:left; }
    .firstb { width: 67%; float:left; }
    .second { overflow: hidden; }
    .rghttxt{ text-align: right; }
    .tbl{width: 79em; border-collapse: collapse;}
    .txtlft{ text-align: left; }
    .brdbot{ border-bottom: solid 0.1em black; }
    /*.brd{ border: solid 0.1em #DCDCDC; }*/
    .brd{ border: 0; }
    .txtmid{ text-align: center; }
</style>
<div style="width: 100%; font-family: Arial;">
    <div class="firsta rghttxt">
        <span style="font-weight: bold">
            REPORTE DE AGUA DE {{rango.mes}} DE {{rango.anio}}
        </span>
    </div>
    <div class="second rghttxt">
        <span style="font-weight: bold">{{fecha}}</span>
    </div>
</div>