<style>
    .rghttxt{ text-align: right; }
    .first { width: 68%; float:left;  }
    .second { overflow: hidden; }    
    .bld { font-weight: bold; }
</style>
<div style="width: 100%; overflow: hidden;">
    <div class="first rghttxt">
        <span class="bld">PROMEDIO DIARIO DE CASOS POR FUENTE</span>
    </div>
    <div class="second rghttxt">
        <span class="bld">{{fecha}}</span>
    </div>
</div>
<div style="text-align: center; padding-bottom: 0.1em">
    <span class="bld">Del {{rango.del}} al {{rango.al}}</span>
</div>