<style>
    .tituloXL{
        font-size: 1.25em;
        font-weight: bold;
    }
    .tituloL{
        font-size: 1.17em;
        font-weight: bold;
    }
    .tituloM{
        font-size: 1.08em;
        font-weight: bold;
    }
    .padbot{ padding-bottom: 0.15em; }
	.rghttxt{ text-align: right; }

</style>
 
<div class="second rghttxt">
   <span style="font-weight: bold">{{fechas}}</span>
</div>
<div style="text-align: center">
    <span class="tituloXL">SAYET, S.A.</span>
    <br/>
    <span class="tituloL">Antiguedad de Saldos de Proveedores Detallada</span>
    <br/>
    <span class="tituloM">
        Al {{#formatDate al}}{{/formatDate}}
    </span>
</div>