<style>
    .pie{
        text-align: right;
        font-weight: bold;
        font-family:Arial; 
        border-top: solid 0.1em black;
        border-bottom: solid 0.1em black;
    }
</style>
<div class="pie">
    P&aacute;gina: {#pageNum}/{#numPages}
</div>