<style>
    .rghttxt{ text-align: right; }
    .tbl{ width: 100%; border-collapse: collapse; }
    .tipo{ font-family: Arial; font-size: 11pt;}
    .ltxt{ text-align: left; }
    .brdhead{ border-top: solid 0.1px black; border-bottom: solid 0.1px black;}
    
	.padbot{ padding-bottom: 0.15em; }
	.rghttxt{ text-align: right; }

</style>
 
<div class="second rghttxt">
   <span style="font-weight: bold">{{fechas}}</span>
</div>
<div style="font-family: Arial; font-size: 12pt; text-align: center; width: 100%">
    <span style="font-weight: bold">
        {{generales.empresa}} ({{generales.abreviaempre}})
    </span>
</div>
<div style="font-family: Arial; font-size: 12pt; text-align: center; width: 100%">
    <span style="font-weight: bold">
        CATÁLOGO DE CUENTAS
    </span>
</div>
<table class="tbl tipo">
    <tbody>
        <tr>
            <th style="width: 15%" class="pdbott ltxt brdhead">Código</th>
            <th style="width: 85%" class="pdbott ltxt brdhead">Cuenta</th>
        </tr>
    </tbody>
</table>