<style>
    .rghttxt{ text-align: right; }
    .cntrtxt{ text-align: center; }
    .lfttxt{ text-align: left; }
    .bold{ font-weight: bold; }
    .tipo{ font-family: Arial; }
    .first { width: 59%;  float:left; }
    .second { overflow: hidden; }
    .tbl{ width: 78.5em; border-collapse: collapse; /*border: solid 0.1em #DCDCDC;*/}
    .brdbtm{ border-bottom: solid 0.1em black;}
    /*.brdbtm{ border: solid 0.1em #DCDCDC;}*/
    .padleft{ padding-left: 4.5em; }
</style>
<div style="width: 100%; overflow: hidden" class="tipo">
    <div class="first rghttxt">
        <span class="bold">REPORTE DE ALQUILERES</span>
    </div>
    <div class="second rghttxt">
        <span class="bold">{{fecha}}</span>
    </div>
</div>
<div class="tipo" style="padding-bottom: 0.75em; width: 100%; overflow: hidden">
    <div class="first rghttxt">
        <span class="bold">Del {{#formatDate rango.del}}{{/formatDate}} al {{#formatDate rango.al}}{{/formatDate}}</span>    
    </div>
    <div class="second rghttxt">
        <span class="bold">{{usuario}}</span>
    </div>
</div>
<table class="tbl tipo">
    <thead>
        <tr>
            <th style="width: 18.74em">&nbsp;</th>
            <th style="width: 6.72em">&nbsp;</th>
            <th style="width: 8.72em">&nbsp;</th>
            <th style="width: 5.72em">&nbsp;</th>
            <th style="width: 5.72em">&nbsp;</th>
            <th colspan="2" style="width: 11.44em">Contrato</th>
        </tr>
        <tr>
            <th class="brdbtm" style="width: 18.74em">Cliente</th>
            <th class="brdbtm" style="width: 6.72em">Abreviatura</th>
            <th class="brdbtm" style="width: 8.72em">Unidades</th>
            <th class="brdbtm" style="width: 5.72em">Concepto</th>
            <th class="brdbtm" style="width: 5.72em">Valor</th>
            <th class="brdbtm" style="width: 5.72em">Inicia</th>
            <th class="brdbtm" style="width: 5.72em">Vence</th>
        </tr>
    </thead>
</table>