<style>
    .pie{
        text-align: right;
        font-weight: bold;
        font-family: Arial;
    }
</style>
<div class="pie">
    {{generales.fecha}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&aacute;gina: {#pageNum}/{#numPages}
</div>