<style>
    .rghttxt{ text-align: right; }
    .bold{ font-weight: bold; }
    .tipo{ font-family: Arial; }
    .first {
        width: 55%;
        float:left; /* add this */
        /*border: 1px solid red;*/
    }
    .second {
        /*border: 1px solid green;*/
        overflow: hidden; /* if you don't want #second to wrap below #first */
    }    
</style>
<div style="width: 100%; overflow: hidden;" class="tipo">
    <div class="first rghttxt">
        <h4>AUDITOR&Iacute;A DE SISTEMA</h4>
    </div>
    <div class="second rghttxt">
        <h5>{{fecha}}</h5>
    </div>
</div>