<style>
    .first { width: 56%; float:left; }
    .second { overflow: hidden; }
    .rghttxt{ text-align: right; }
    .tipo{ font-family: Arial; font-size: 10pt;}
    .padbot{ padding-bottom: 0.15em; }
</style>
<div class="tipo padbot" style="width: 100%; text-align: center">
    <h3>{{poliza.empresa}}</h3>
</div>
<div class="tipo padbot">
    <div class="first rghttxt">
        <span style="font-weight: bold">
            IMPRESI&Oacute;N DE P&Oacute;LIZA
        </span>
    </div>
    <div class="second rghttxt">
        <span style="font-weight: bold">{{fechas}}</span>
    </div>    
</div>