<style>
    .rghttxt{ text-align: right; }
    .first { width: 63.75%; float:left; }
    .second { overflow: hidden; }
	
</style>

<div style="width: 100%; overflow: hidden; font-family:Arial">
    <div class="first rghttxt">
        <span style="font-weight:bold; font-size: 16pt">CONTROL DE CAJA CHICA</span>
    </div>
    <div class="second rghttxt">
        <span style="padding-right: 4em">{{generales.fecha}}</span>
    </div>
</div>
<div style="width: 100%; text-align: center; font-family:Arial; font-size: 14pt; font-weight: bold">
    <span>{{generales.nombre}}</span>
</div>