<style>
    .pie{
        text-align: right;
        font-weight: bold;
    }
    .pieTabla{
        text-align: right;
        border-top: 0.1em solid black;
        border-bottom: 0.1em solid black;
        font-weight: bold;
    }
</style>
<div class="pie">
    {#pageNum}/{#numPages}
</div>