<style>
    .encabezado{
        border-top: 0.1em solid black;
        border-bottom: 0.1em solid black;
    }
    .tituloXL{
        font-size: 1.25em;
        font-weight: bold;
    }
    .tituloL{
        font-size: 1.17em;
        font-weight: bold;
    }
    .tituloM{
        font-size: 1.08em;
        font-weight: bold;
    }
</style>
<div style="text-align: center">
    <span class="tituloXL">GRUPO CORPORATIVO FINANCIERO, S.A.</span>
    <br/>
    <span class="tituloL">Libro de Diario</span>
    <br/>
    <span class="tituloM">
        Del {{#formatDate del}}{{/formatDate}} al {{#formatDate al}}{{/formatDate}}
    </span>
</div>
<table style="width: 100%">
    <thead>
        <tr>
            <th class="encabezado" style="width: 9em; text-align: left">Póliza</th>
            <th class="encabezado" style="width: 9.95em; text-align: left">Fecha</th>
            <th class="encabezado" style="width: 20em; text-align: left">Concepto</th>
            <th class="encabezado" style="text-align: right">Debe</th>
            <th class="encabezado" style="text-align: right">Haber</th>
        </tr>
    </thead>
</table>
