<style>
    .first { width: 58%; float:left; }
    .second { overflow: hidden; }
    .rghttxt{ text-align: right; }
    .tipo{ font-family: Arial; }
</style>
<div class="tipo">
    <div class="first rghttxt">
            <span style="font-weight: bold">CAT&Aacute;LOGO DE ACTIVOS</span>
    </div>
    <div class="second rghttxt">
        <span style="font-weight: bold">{{fecha}}</span>
    </div>    
</div>