<style>
    .tituloXL{
        font-size: 1.25em;
        font-weight: bold;
    }
    .tituloL{
        font-size: 1.17em;
        font-weight: bold;
    }
    .tituloM{
        font-size: 1.08em;
        font-weight: bold;
    }
    .encabezado{
                border-top: 0.1em solid black;
                border-bottom: 0.1em solid black;
            }
            .encabezado2{
                border-bottom: 0.1em solid black;
            }
            .numero{
                text-align: right;
                border-spacing: 0px;
            }
            .total{
                border-top: 0.1em solid black;
                border-bottom: 0.3em double black;
                text-align: right;
                font-weight: bold;
            }
            .factura{
                
                border-spacing: 0px;
            }
            .subtotal{
                border-top: 0.1em solid black;
                text-align: right;
                font-weight: bold;
                border-collapse:collapse;
            }
            .resumen{
                width: 400px;
                margin-left: auto;
                margin-right: auto;
                font-size:150%;
                font-weight:bold;
                border:2px solid black;
                border-radius: 10px;
                padding: 10px;
            }
            .tab{
                padding-left: 1em;
            }
            .dtab{
                padding-left: 2em;
            }
    .padbot{ padding-bottom: 0.15em; }
	.rghttxt{ text-align: right; }

</style>
 
<div class="second rghttxt">
   <span style="font-weight: bold">{{fechas}}</span>
</div>
<div style="text-align: center">
    <span class="tituloL">Antiguedad de Saldos de Clientes Detallada</span>
    <br/>
    <span class="tituloM">
        Al {{#formatDate al}}{{/formatDate}}
    </span>
    
    <table style='width: 100%;font-family: Arial;font-size:12; border-collapse:collapse;'>
        <tbody>
            <tr>
                <td class="encabezado" style='width: 30%'>Nombre</th>
                <td class="encabezado numero" style='width: 14%'>0 a 30</th>
                <td class="encabezado numero" style='width: 14%'>31 a 60</th>
                <td class="encabezado numero" style='width: 14%'>61 a 90</th>
                <td class="encabezado numero" style='width: 14%'>+90</th>
                <td class="encabezado numero" style='width: 14%'>Total</th>
            </tr>
        </tbody>
    </table>
</div>